$color-white: #ffffff;
$color-black: #000000;
$color-green: #00a88d;
$color-green-light: #e1e7e9;
$color-gray-light: #9b9b9b;
$color-gray: #747978;
$color-gray-dark: #3e4543;
$color-border: #cfcfcf;
$color-green-bg: #cbede8;

$color-main-bg: #f4f4f4;
$color-main-heading: $color-white;

$color-text-white: $color-white;
$color-text-black: $color-black;
$color-text-green: $color-green;
$color-text-gray-light: $color-gray-light;
$color-text-gray: $color-gray;
$color-text-gray-dark: $color-gray-dark;
