// Import Bulma's core
@import "~bulma/sass/utilities/_all";
@import "colors";

// See https://bulma.io/documentation/customize/variables/


// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($color-text-white, $color-text-black),
  "black": ($color-text-black, $color-text-white),
  "green": ($color-text-green, findColorInvert($color-text-green)),
  "green-bg": ($color-green-bg, findColorInvert($color-green-bg)),
  "green-light": ($color-green-light, findColorInvert($color-green-light)),
  "gray": ($color-text-gray, findColorInvert($color-text-gray)),
  "gray-light": ($color-text-gray-light, findColorInvert($color-text-gray-light)),
  "gray-dark": ($color-text-gray-dark, findColorInvert($color-text-gray-dark)),
  "main-bg": ($color-main-bg, findColorInvert($color-main-bg))
);

// Typography
$family-primary: 'Open Sans';
$family-primary-bold: 'Open Sans';

$base-font-size: 16;

@function toRem($base-font-size: 16) {
  @return ($base-font-size / 16) + rem;
}

$size-1: toRem(55);
$size-2: toRem(30);
$size-3: toRem(20);
$size-4: toRem(18);
$size-5: toRem(16);
$size-6: toRem(14);
$size-7: toRem(12);
$size-8: toRem(11);

$sizes:	$size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 $size-8;

