/*$mobile-enabled: false;
$tablet-enabled: false;
$tablet-only-enabled: false;
$touch-enabled: false;
$desktop-enabled: false;
$desktop-only-enabled: false;
$widescreen-only-enabled: false;*/
$widescreen-enabled: false;
$fullhd-enabled: false;
$menu-item-active-background-color: none;
$link: $color-text-gray-dark;
$link-hover: $color-text-green;
$link-active: $color-text-green;
$navbar-item-hover-background-color: transparent;
$navbar-item-hover-color: $color-text-green;
$button-disabled-background-color: $color-border;
$button-disabled-opacity: 1;
$button-background-color: $color-green;
$button-color: $color-white;
$button-border-color: $color-green;
$button-hover-color: $color-white;
$button-hover-border-color: $color-green;
$button-focus-color: $color-white;
$button-focus-border-color: $color-green;
$button-focus-box-shadow-size: 0;
$button-focus-box-shadow-color: none;
$button-active-color: $color-white;
$button-active-border-color: $color-green;
$mobile: 324px;
$tablet: 324px;
$desktop: 324px;
$navbar-breakpoint: 324px;
