<template>
  <div class="has-background-white Main-filters">
    <div class="level has-padding-top-15 has-padding-left-20 has-padding-bottom-15">
      <div class="level-left">
        <div class="level-item first-level-item">
          <ejs-multiselect
            id='first_multi'
            :dataSource='usersData'
            placeholder="No user selected"
            mode="CheckBox"
            :fields='userFelds'
            :showSelectAll='showSelectAll'
            selectAllText="Select All"
            unSelectAllText="Select All"
            :showDropDownIcon='true'
            :change='handleUserChange'
            :filtering='userFiltering'
          />
        </div>
        <div class="level-item action-list">
          <ejs-multiselect
            ref='dropdownObj'
            id='second_multi'
            :dataSource='actionsData'
            placeholder="No actions selected"
            mode="CheckBox"
            :fields='actionFelds'
            :showSelectAll='showSelectAll'
            selectAllText="Select All"
            unSelectAllText="Select All"
            :showDropDownIcon='true'
            :enabled='actionsEnabled'
          />
        </div>
        <div class="level-item">
          <b-field
            class="is-relative flex-1"
          >
            <b-input
              type="text"
              v-model='filterText'
              @input='filterTextChange'
              placeholder="Filter results..."
              class="is-shadowless"
              expanded
            />
            <img
              src="~assets/img/icn-close.svg"
              class="close-icon hide"
              @click='clearFilterText'
            >
          </b-field>
        </div>
        <div class="level-item last-level-item has-margin-right-20">
          <b-button
            :disabled='searchDisabled'
            expanded
            class="has-text-weight-bold is-size-6 search-button"
          >
            Search Now
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'MainFilters',
    data () {
      return {
        filterText: "",
        usersData: [
          { Id: '1', User: 'zena.huels@gmail.com'},
          { Id: '2', User: 'welch.lauren@gmail.com'},
          { Id: '3', User: 'tillman.marisa@cole.com'},
          { Id: '4', User: 'mariela.lesch@gmail.com'},
          { Id: '5', User: 'abshire.bertrand@hotmail.com'},
          { Id: '6', User: 'bledner@hotmail.com'},
          { Id: '7', User: 'skreiger@jacobs.biz'},
          { Id: '8', User: 'dbrakus@yahoo.com'},
          { Id: '9', User: 'tyra.heidenreich@powlowski.com'},
          { Id: '10', User: 'vwehner@tremblay.com'},
          { Id: '11', User: 'kessler.eugene@gmail.com'},
          { Id: '12', User: 'murray.spencer@wisozk.info'},
          { Id: '13', User: 'toby63@welch.com'},
          { Id: '14', User: 'rashawn51@yahoo.com'},
          { Id: '15', User: 'kelsi.crona@crona.net'},
          { Id: '16', User: 'keebler.monty@mann.com'},
          { Id: '17', User: 'blanda.rhett@gaylord.com'},
          { Id: '18', User: 'lebsack.kristy@hotmail.com'},
          { Id: '19', User: 'bridget33@schuster.com'},
          { Id: '20', User: 'herzog.maymie@wehner.com'},
          { Id: '21', User: 'ashleigh10@hotmail.com'},
          { Id: '22', User: 'weber.sister@yahoo.com'},
          { Id: '23', User: 'ipfeffer@hotmail.com'},
          { Id: '24', User: 'derek60@hotmail.com'},
          { Id: '25', User: 'west.jude@weber.info'},
          { Id: '26', User: 'eschneider@hintz.biz'},
          { Id: '27', User: 'evalyn52@goodwin.biz'},
          { Id: '28', User: 'barrett.auer@wilderman.com'},
          { Id: '29', User: 'lehner.dayton@yahoo.com'},
          { Id: '30', User: 'prohaska.britney@hansen.com'},
          { Id: '31', User: 'christiana59@huels.com'},
          { Id: '32', User: 'jgerhold@yahoo.com'},
          { Id: '33', User: 'santino63@bashirian.com'},
          { Id: '34', User: 'kennith.buckridge@gmail.com'},
          { Id: '35', User: 'zgoodwin@hotmail.com'},
          { Id: '36', User: 'jaquan.stark@hotmail.com'},
          { Id: '37', User: 'raynor.jules@brown.org'},
          { Id: '38', User: 'curt.johnson@wisozk.com'},
          { Id: '39', User: 'felton96@wisoky.com'},
          { Id: '40', User: 'michelle24@hammes.com'},
          { Id: '41', User: 'nkoelpin@bernhard.com'},
          { Id: '42', User: 'araceli.goyette@yahoo.com'},
          { Id: '43', User: 'hrutherford@gmail.com'},
          { Id: '44', User: 'qschiller@denesik.com'},
          { Id: '45', User: 'rico.mayer@yahoo.com'},
          { Id: '46', User: 'amari90@hotmail.com'},
          { Id: '47', User: 'bframi@gmail.com'},
          { Id: '48', User: 'fadel.kendall@ward.org'},
          { Id: '49', User: 'rafael.upton@bayer.info'}
        ],
        userFelds : { text: 'User', value: 'Id' },
        actionsData: [
          { Id: '1', Action: 'Create Client'},
          { Id: '2', Action: 'Create User'},
          { Id: '3', Action: 'Edit Client'},
          { Id: '4', Action: 'Edit User'},
          { Id: '5', Action: 'Change Profile Info'},
          { Id: '6', Action: 'Delete User'},
          { Id: '7', Action: 'Delete Client'},
          { Id: '8', Action: 'Deactivate User'},
          { Id: '9', Action: 'Deactivate Client'},
          { Id: '10', Action: 'Activate User'},
          { Id: '11', Action: 'Activate Client'},
          { Id: '12', Action: 'Log In'},
          { Id: '13', Action: 'Bulk Activate'},
          { Id: '14', Action: 'Bulk Deactivate'},
          { Id: '15', Action: 'Bulk Delete'},
          { Id: '16', Action: 'Log In as User'},
          { Id: '17', Action: 'Log Out As User'},
          { Id: '18', Action: 'Change Password'},
          { Id: '19', Action: 'Initiate Password Reset'},
          { Id: '20', Action: 'Simple Search'},
          { Id: '21', Action: 'Advanced Search'},
          { Id: '22', Action: 'Export to PST'},
          { Id: '23', Action: 'Export to EML'},
          { Id: '24', Action: 'Export to PDF'},
          { Id: '25', Action: 'Download Email'},
          { Id: '26', Action: 'Download Email Attachment'},
          { Id: '27', Action: 'Restore Email'},
          { Id: '28', Action: 'Forward Email'},
          { Id: '29', Action: 'Reply to Email'},
          { Id: '30', Action: 'Reply to All'},
          { Id: '31', Action: 'Ingest Imported Files'},
          { Id: '32', Action: 'Bulk Export Emails as PDF '},
          { Id: '33', Action: 'Bulk Export Emails as EML'},
          { Id: '34', Action: 'Bulk Export Emails as PST'},
          { Id: '35', Action: 'Export All as PDF'},
          { Id: '36', Action: 'Export All as EML'},
          { Id: '37', Action: 'Export All as PST'},
          { Id: '38', Action: 'Bulk Download Emails'},
          { Id: '39', Action: 'Bulk Restore Emails'},
          { Id: '40', Action: 'Bulk Forward Emails'},
          { Id: '41', Action: 'Create Personal Tag '},
          { Id: '42', Action: 'Create Legal Hold Tag '},
          { Id: '43', Action: 'Create Retention Tag'},
          { Id: '44', Action: 'Edit Personal Tag'},
          { Id: '45', Action: 'Edit Legal Hold Tag'},
          { Id: '46', Action: 'Edit Retention Tag'},
          { Id: '47', Action: 'Delete Personal Tag'},
          { Id: '48', Action: 'Delete Legal Hold Tag'},
          { Id: '49', Action: 'Delete Retention Tag'},
          { Id: '50', Action: 'Assign Personal Tag'},
          { Id: '51', Action: 'Assign Legal Hold Tag'},
          { Id: '52', Action: 'Remove Legal Hold Tag'},
          { Id: '53', Action: 'Remove Personal Tag'},
          { Id: '54', Action: 'Bulk Remove Personal Tag '},
          { Id: '55', Action: 'Bulk Remove Legal Hold Tag'},
          { Id: '56', Action: 'Save Simple Search'},
          { Id: '57', Action: 'Save Advanced Search'},
          { Id: '58', Action: 'Delete Saved Search'},
          { Id: '59', Action: 'Delete Recent Simple Search'},
          { Id: '60', Action: 'Delete Recent Advanced Search'}
        ],
        actionFelds : { text: 'Action', value: 'Id' },
        showSelectAll : true,
        actionsEnabled: false,
        searchDisabled: true
      }
    },
    methods: {
      handleUserChange(e) {
        if(e.value.length > 0) {
          this.actionsEnabled = true
        } else {
          this.$refs.dropdownObj.ej2Instances.value = null;
          this.actionsEnabled = false
        }
      },
      userFiltering(e) {
        if(e.text !== '') {
          document.querySelector('.e-selectall-parent').classList.add("hide")
        } else {
          document.querySelector('.e-selectall-parent').classList.remove("hide")
        }
      },
      clearFilterText() {
        this.filterText = ""
        document.querySelector('.close-icon').classList.add("hide")
        this.searchDisabled = true
      },
      filterTextChange(e) {
        if(e) {
          document.querySelector('.close-icon').classList.remove("hide")
          this.searchDisabled = false
        } else {
          document.querySelector('.close-icon').classList.add("hide")
          this.searchDisabled = true
        }
      }
    }
  }
</script>

<style lang="scss">
  .Main-filters {
    border-bottom: 1px solid $color-border;
  }
  .Main-filters .level-item.first-level-item {
    width: toRem(267);
  }
  .Main-filters .level-item {
    width: toRem(250);
  }
  .Main-filters .level-item.last-level-item {
    width: toRem(113);
  }
  .Main-filters .level-left .level-item:not(:last-child) {
    margin-right: toRem(15);
  }
  .hide {
    display: none!important;
  }
  .close-icon {
    position: absolute;
    top: toRem(14);
    right: toRem(14);
    z-index: 99;
    cursor: pointer;
  }
  .search-button {
    padding-top: toRem(17);
    padding-bottom: toRem(17);
  }
  .field.has-addons .control:first-child:not(:only-child) .input {
    border-bottom-right-radius: toRem(4);
    border-top-right-radius: toRem(4);
    font-size: toRem(14);
    padding-top: toRem(14);
    padding-bottom: toRem(14);
    padding-left: toRem(12);
    height: toRem(36);

  }
  .e-input-group, .e-input-group.e-control-wrapper {
    border: 1px solid $color-gray-light;
    border-radius: toRem(4);
  }
  .e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left) {
    border: 1px solid $color-gray-light;
    border-radius: toRem(4);
    padding-left: toRem(12);
    padding-top: toRem(2);
    padding-bottom: toRem(2);
  }
  .e-multi-select-wrapper input[type='text'] {
    font-size: toRem(14);
    font-family: 'Open Sans';
  }
  .e-multiselect:after, .e-multiselect:before {
    display: none;
  }
  .e-input-group:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left), .e-input-group.e-control-wrapper:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left) {
    border: 1px solid $color-green;
  }
  .e-input-group:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before {
    display: none;
  }
  .e-checkbox-wrapper .e-frame.e-check, .e-css.e-checkbox-wrapper .e-frame.e-check, .e-checkbox-wrapper:hover .e-frame.e-check, .e-css.e-checkbox-wrapper:hover .e-frame.-e-check {
    background-color: $color-green !important;
  }
  .e-control, .e-css {
    font-family: 'Open Sans';
    font-size: toRem(14);
  }
  .e-multi-select-list-wrapper .e-selectall-parent {
    border: 1px solid transparent;
    line-height: toRem(36);
  }
  .e-popup.e-multi-select-list-wrapper .e-list-item.e-active.e-hover, .e-popup.e-multi-select-list-wrapper .e-list-item.e-active.e-item-focus {
    background-color: transparent !important;
    color: $color-text-green;
  }
  .e-input-group:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after {
    background: transparent;
  }
  .e-filter-parent .e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-filter-parent .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left) {
    border-color: transparent;
  }
  .e-filter-parent .e-input-group:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left), .e-filter-parent .e-input-group.e-control-wrapper:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left) {
    border: 1px solid transparent;
  }
  .e-ddl.e-popup.e-multi-select-list-wrapper .e-filter-parent .e-input-filter {
    background: $color-main-bg;
    border-radius: toRem(4);
    padding-left: toRem(39) !important;
  }
  .e-ddl.e-popup.e-multi-select-list-wrapper .e-filter-parent .e-clear-icon {
    display: none;
  }
  .e-filter-parent .e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left) {
    padding: 0;
  }
  .e-filter-parent {
    padding: toRem(13) toRem(12);
    box-shadow: none;
  }
  .e-input-group input.e-input, .e-input-group textarea.e-input, .e-input-group input.e-input:hover:not(.e-success):not(.e-warning):not(.e-error):not([disabled]):not(:focus), .e-input-group textarea.e-input:hover:not(.e-success):not(.e-warning):not(.e-error):not([disabled]), .e-input-group.e-control-wrapper input.e-input, .e-input-group.e-control-wrapper textarea.e-input, .e-input-group.e-control-wrapper input.e-input:hover:not(.e-success):not(.e-warning):not(.e-error):not([disabled]):not(:focus), .e-input-group.e-control-wrapper textarea.e-input:hover:not(.e-success):not(.e-warning):not(.e-error):not([disabled]) {
    border: 1px solid transparent;
  }
  .e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left).e-disabled, .e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error).e-disabled .e-input-in-wrap, .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left).e-disabled, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error).e-disabled .e-input-in-wrap {
    background: $color-main-bg;
    background-image: none;
    background-position: unset;
    background-repeat: repeat-x;
    background-size: unset;
    border-bottom-color: inherit;
    border: 1px solid $color-border;
  }
  .e-multiselect.e-input-group.e-control-wrapper.e-checkbox {
    margin-bottom: 0;
  }
  .e-checkbox-wrapper .e-frame, .e-css.e-checkbox-wrapper .e-frame {
    border: 1px solid $color-gray-light;
    border-radius: toRem(4);
  }
  .e-dropdownbase .e-list-item.e-hover {
    background-color: transparent;
    color: $color-green;
    .e-frame.e-icons {
      border: 1px solid $color-green;
    }
  }
  .e-dropdownbase .e-list-item.e-item-focus {
    background-color: transparent;
  }
  .e-dropdownbase .e-list-item {
    font-size: toRem(14);
    line-height: toRem(30);
    min-height: toRem(30);
  }
  .e-filter-parent .e-input-group.e-control-wrapper::after {
    content: url('../assets/img/search.svg') !important;
    position: absolute;
    top: toRem(11);
    left: toRem(13);
    width: toRem(18);
    height: toRem(18);
  }
  .e-input-focus:focus, .e-iput-focus:hover {
    border: none;
  }
</style>
