<template>
  <div class="NoResults is-flex align-items-center justify-center has-margin-top-200">
    <div class="has-text-centered">
      <img src="~assets/img/img-audit-noresults@1x.svg" class="has-margin-bottom-15" />
      <div class="has-text-weight-bold is-size-5 has-margin-bottom-5">
        Nothing to Show
      </div>
      <div class="is-size-6">
        To see audit logs, choose the filters and/or<br> perform a search from the above menu.
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'NoResults'
  }
</script>

<style
  lang="scss"
>

</style>
