html {
  overflow-y: auto;
}

body {
  min-width: 1024px;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  background: $color-main-bg;
}

.is-valigned-middle {
  vertical-align: middle;
}

.header-search {
  width: toRem(515);
  input.input {
    background-color: $color-main-bg;
    border: none;
    box-shadow: none;
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.flex-1 {
  flex: 1;
}
.full-radius {
  border-radius: 50%;
}

.navbar-item {
  padding: 0.5rem 0;
}

a.navbar-item:hover {
  background-color: transparent;
}

.dropdown .dropdown-menu .has-link a:hover {
  background-color: transparent;
  color: $color-text-green;
}

.dropdown .dropdown-menu .has-link a, .dropdown .dropdown-menu a, .dropdown-item {
  padding: toRem(2) toRem(12);
}

.border-bottom {
  border-bottom: 1px solid $color-border;
}

.input, .textarea {
  box-shadow: none;
  border: 1px solid $color-gray-light;
}

.input:active, .input:focus {
  box-shadow: none;
  border: 1px solid $color-green;
}

.button[disabled] {
  color: $color-gray-light;
}

.button:focus:not(:active) {
  box-shadow: none !important;
}

.has-margin-top-200 {
  margin-top: toRem(200);
}
