<template>
  <div class="is-flex">
    <aside class="Sidebar has-background-green-light">
      <div class="Logo has-margin-left-20 has-margin-top-20 has-margin-right-40 has-margin-bottom-50">
        <img
          src="~assets/img/logo.svg"
          alt="Logo"
        >
      </div>
      <ul class="menu">
        <li
          v-for="(item, key) of items"
          :key="key"
        >
          <nuxt-link
            :to="item.to"
            exact-active-class="is-active"
            class="has-text-weight-bold is-size-6 has-padding-left-20"
          >
            <img
              src="~assets/img/dashboard.svg"
              alt="Logo"
              class="has-margin-right-10 is-valigned-middle"
            >
            <span>{{ item.title }}</span>
          </nuxt-link>
        </li>
      </ul>
    </aside>
    <div class="has-background-main-bg flex-1">
      <nav
        class="navbar header has-shadow is-primary border-bottom"
        role="navigation"
        aria-label="main navigation"
      >
        <div class="level has-margin-top-10 has-margin-left-20 has-margin-bottom-10 has-margin-right-20 flex-1">
          <div class="level-left">
            <div class="level-item">
              <b-field>
                <b-input
                  type="search"
                  icon="magnify"
                  placeholder="Search for a word or phrase"
                  class="header-search is-shadowless"
                />
              </b-field>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <div class="">
                <div class="">
                  <b-dropdown
                    position="is-bottom-left"
                    append-to-body
                    aria-role="menu"
                    :mobile-modal="false"
                  >
                    <a
                      class="navbar-item"
                      slot="trigger"
                      role="button"
                      @click='toggleMenu'
                    >
                      <span class="is-size-7 has-text-weight-bold has-text-gray-light initials-bubble full-radius Initials has-background-main-bg is-flex align-items-center justify-center">JD</span>
                      <b-icon icon="menu-down" v-if="menuOpened"></b-icon>
                      <b-icon icon="menu-up" v-else="menuOpened"></b-icon>
                    </a>
                    <b-dropdown-item custom aria-role="menuitem">
                      <span class="is-uppercase has-text-weight-bold has-text-gray-light is-size-8">administrator</span>
                    </b-dropdown-item>
                    <b-dropdown-item custom aria-role="menuitem">
                      <b>john.doe@jatheon.com</b>
                    </b-dropdown-item>
                    <b-dropdown-item custom aria-role="menuitem">
                      <span>Jatheon Technologies</span>
                    </b-dropdown-item>
                    <b-dropdown-item custom aria-role="menuitem">
                      <hr class="dropdown-divider">
                    </b-dropdown-item>
                    <b-dropdown-item has-link aria-role="menuitem">
                      <a>
                        Account Settings
                      </a>
                    </b-dropdown-item>
                    <b-dropdown-item has-link aria-role="menuitem">
                      <a>
                        Company Settings
                      </a>
                    </b-dropdown-item>
                    <b-dropdown-item has-link aria-role="menuitem">
                      <a>
                        Help Center
                      </a>
                    </b-dropdown-item>
                    <b-dropdown-item has-link aria-role="menuitem">
                      <a>
                        Logout
                      </a>
                    </b-dropdown-item>
                  </b-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <section class="main-content">
        <div>
          <nuxt />
        </div>
      </section>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        items: [
          {
            title: 'Audit',
            to: { name: 'index' }
          },
        ],
        menuOpened: true
      }
    },
    methods: {
      toggleMenu(){
        this.menuOpened = !this.menuOpened
      }
    }
  }
</script>

<style
  scoped
  lang="scss"
>
  .Sidebar {
    min-height: 100vh;
  }
  .Content {
    /*max-width: 100%;*/
    flex: 1;
  }
  .Logo {
    width: 185px;
    height: 24px;
  }
  .nuxt-link-active {
    color: $color-text-green;
  }
  .Initials {
    width: 2rem;
    height: 2rem;
  }
  .is-active {
    .initials-bubble {
      color: $color-green !important;
      background-color: $color-green-bg !important;
    }
    .mdi-menu-down::before {
      content: "\F0360";
    }
  }
</style>
