<template>
  <section>
    <main-filters />
    <no-results />
  </section>
</template>

<script>
  import MainFilters from '../components/MainFilters'
  import NoResults from "../components/NoResults"

  export default {
    name: 'HomePage',
    components: {
      NoResults,
      MainFilters,
    }
  }
</script>

<style
  lang="scss"
>

</style>
